

.window {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 50px;
  background: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  width: 100%;
  height : 82vh;

}

.window::-webkit-scrollbar {
  width: 10px;
}

.window::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

.window::-webkit-scrollbar-thumb {
  background-color: #4d4d4d; 
  border-radius: 40px;    
  border: 2px solid #1e1e1e;
}




.title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
}

.messages {
  width: 100%;
  max-width: 900px;
  /* padding-left : 10%;
  padding-right : 10%; */

    margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  margin-bottom: 16px;
  padding: 14px 18px;
  border-radius: 30px;
  font-size: 1rem;
  word-break: break-word;
  display: inline-block;
}

.aiMessage {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  text-align: left;
}

.userMessage {
  background: rgb(48, 48, 48);
  color: #fff;
  align-self: flex-end;
  text-align: right;
}

.userMessageEditBtn {
  color: #fff;
  align-self: flex-end;
  text-align: right;
}

