.pulsingLoader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  animation: pulsing-animation 0.8s ease-in-out infinite alternate;
}

@keyframes pulsing-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0.5;
  }
}